tf2-kdl==0.7.10
xacro==1.14.20
rqt-robot-dashboard==0.5.8
rostopic==1.17.4
geneus==3.0.0
rosboost-cfg==1.15.10
roscreate==1.15.10
rqt-tf-tree==0.6.5
rqt-gui-py==0.5.5
image-geometry==1.16.2
rqt-publisher==0.4.12
rosbag==1.17.4
rqt-service-caller==0.4.12
python-qt-binding==0.4.6
rqt-py-console==0.4.12
smach-ros==2.5.3
rosmake==1.15.10
camera-calibration==1.17.0
catkin==0.8.12
moveit-ros-visualization==1.1.16
rqt-reconfigure==0.5.7
resource-retriever==1.12.10
gazebo_plugins==2.9.3
smach==2.5.3
genmsg==0.6.1
rqt-graph==0.4.16
gazebo_ros==2.9.3
rqt-bag==0.5.3
genlisp==0.4.18
rqt-dep==0.4.14
rqt-msg==0.4.12
controller-manager-msgs==0.20.0
rosgraph==1.17.4
smclib==1.8.7
actionlib==1.14.3
interactive-markers==1.12.2
joint-state-publisher==1.15.2
rqt-logger-level==0.4.13
rqt-nav-view==0.5.8
genpy==0.6.18
diagnostic-updater==1.12.1
tf2-py==0.7.10
gennodejs==2.0.2
rviz==1.14.26
rosservice==1.17.4
qt-gui==0.4.5
diagnostic-common-diagnostics==1.12.1
rqt-srv==0.4.11
rqt-robot-monitor==0.5.15
moveit-ros-planning-interface==1.1.16
tf2-geometry-msgs==0.7.10
rqt-pose-view==0.5.13
rosparam==1.17.4
joint-state-publisher-gui==1.15.2
rqt-launch==0.4.10
tf-conversions==1.13.4
rqt-robot-steering==0.5.14
rosunit==1.15.10
rqt-web==0.4.11
angles==1.9.14
rosnode==1.17.4
rqt-py-common==0.5.5
rqt-bag-plugins==0.5.3
roslint==0.12.0
dynamic-reconfigure==1.7.6
controller-manager==0.20.0
rqt-rviz==0.7.2
rqt-gui==0.5.5
sensor-msgs==1.13.2
rqt-plot==0.4.16
roslib==1.15.10
bondpy==1.8.7
rqt-image-view==0.4.19
rqt-console==0.4.14
tf2-ros==0.7.10
rospy==1.17.4
rqt-moveit==0.5.13
rqt-shell==0.4.13
message-filters==1.17.4
rqt-action==0.4.11
rosclean==1.15.10
roswtf==1.17.4
qt-gui-cpp==0.4.5
moveit-commander==1.1.16
rosmsg==1.17.4
urdfdom-py==0.4.6
rostest==1.17.4
diagnostic-analysis==1.12.1
laser-geometry==1.6.8
qt-dotgraph==0.4.5
camera-calibration-parsers==1.12.1
roslaunch==1.17.4
rqt-runtime-monitor==0.5.10
srdfdom==0.6.4
topic-tools==1.17.4
cv-bridge==1.16.2
tf==1.13.4
moveit-core==1.1.16
rqt-topic==0.4.15
gencpp==0.7.2
rqt-top==0.4.11
roslz4==1.17.4
qt-gui-py-common==0.4.5
rosmaster==1.17.4
torchaudio==2.6.0
pyarrow==22.0.0
scikit-learn==1.7.0
trimesh==4.6.6
nvidia-nccl-cu12==2.21.5
lxml==5.3.1
pytest-xdist==3.6.1
glfw==2.8.0
Farama-Notifications==0.0.4
threadpoolctl==3.6.0
decorator==5.2.1
setuptools==75.8.2
tenacity==9.0.0
numpy==2.2.6
ompl==1.6.0
Markdown==3.7
mujoco==3.2.5
pytest==8.3.5
MarkupSafe==3.0.2
coacd==1.0.6
sentry-sdk==2.49.0
libigl==2.5.1
Jinja2==3.1.6
cycler==0.12.1
nbformat==5.10.4
moviepy==2.1.2
joblib==1.5.1
fsspec==2025.3.1
pydantic_core==2.18.2
widgetsnbextension==4.0.14
h5df==0.1.5
grpcio==1.71.0
pluggy==1.5.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
imageio-ffmpeg==0.6.0
plotly==5.24.1
open3d==0.19.0
networkx==3.4.2
absl-py==2.2.1
typing-inspect==0.9.0
llvmlite==0.44.0
nvidia-cuda-cupti-cu12==12.4.127
nest-asyncio==1.6.0
pycollada==0.9
mypy-extensions==1.0.0
mpmath==1.3.0
nvidia-cublas-cu12==12.4.5.8
idna==3.10
executing==2.2.0
typing_extensions==4.13.0
OpenEXR==3.3.3
sympy==1.13.1
nvidia-cufft-cu12==11.2.1.3
pyserial==3.5
ptyprocess==0.7.0
h5py==3.13.0
psutil==7.0.0
tifffile==2025.3.30
zipp==3.21.0
pyparsing==3.2.3
nvidia-nvjitlink-cu12==12.4.127
cloudpickle==3.1.2
pathspec==0.12.1
wrapt==1.17.2
termcolor==2.5.0
iso8601==2.1.0
nvidia-cuda-runtime-cu12==12.4.127
rich==14.0.0
packaging==24.2
Deprecated==1.2.18
annotated-types==0.7.0
contourpy==1.3.1
vtk==9.3.1
certifi==2025.1.31
pytz==2025.2
ConfigArgParse==1.7.1
tensorboard-data-server==0.7.2
stack-data==0.6.3
pyvista==0.44.2
opencv-python==4.11.0.86
PyOpenGL==3.1.9
nvidia-cusparselt-cu12==0.6.2
nvidia-cudnn-cu12==9.1.0.70
importlib_metadata==8.7.0
prompt_toolkit==3.0.51
screeninfo==0.8.1
pyquaternion==0.9.9
rerun-sdk==0.28.2
pexpect==4.9.0
wheel==0.45.1
jupyterlab_widgets==3.0.15
scooby==0.10.0
nvidia-cuda-nvrtc-cu12==12.4.127
markdown-it-py==3.0.0
blinker==1.9.0
Pygments==2.19.1
dataclasses-json==0.6.7
ipython==8.37.0
colorama==0.4.6
click==8.1.8
execnet==2.1.1
pillow==10.4.0
retrying==1.3.4
etils==1.12.2
Werkzeug==3.0.6
pyrealsense2==2.56.5.9235
dill==0.3.9
fonttools==4.56.0
asttokens==3.0.0
pygltflib==1.16.0
platformdirs==4.3.7
pooch==1.8.2
ipywidgets==8.1.7
charset-normalizer==3.4.1
seaborn==0.13.2
PyYAML==6.0.2
exceptiongroup==1.2.2
scipy==1.15.2
matplotlib-inline==0.1.7
freetype-py==2.5.1
nvidia-curand-cu12==10.3.5.147
tomli==2.2.1
jupyter_core==5.8.1
urllib3==2.3.0
nvidia-cusolver-cu12==11.6.1.9
lazy_loader==0.4
matplotlib==3.10.1
jedi==0.19.2
dash==3.0.4
protobuf==6.33.4
tensorboardX==2.6.2.2
rpds-py==0.25.1
GitPython==3.1.46
python-dotenv==1.1.0
six==1.17.0
pyglet==2.1.3
PyGEL3D==0.6.1
smmap==5.0.2
requests==2.32.3
wandb==0.24.0
jsonschema==4.24.0
nvidia-cusparse-cu12==12.3.1.170
wcwidth==0.2.13
inputs==0.5
pip==25.0.1
pure_eval==0.2.3
parso==0.8.4
tetgen==0.6.4
pandas==2.2.3
nvidia-nvtx-cu12==12.4.127
gitdb==4.0.12
genesis-world==0.2.1
black==25.1.0
traitlets==5.14.3
pydantic==2.7.1
tqdm==4.67.1
importlib_resources==6.5.2
triton==3.2.0
tensorboard==2.19.0
gymnasium==1.2.3
itsdangerous==2.2.0
tzdata==2025.2
proglog==0.1.10
egl_probe==1.0.2
pymeshlab==2023.12.post3
numba==0.61.0
filelock==3.18.0
referencing==0.36.2
scikit-image==0.25.2
comm==0.2.2
torch==2.6.0
iniconfig==2.1.0
imageio==2.37.0
fastjsonschema==2.21.1
torchvision==0.21.0
taichi==1.7.3
python-dateutil==2.9.0.post0
addict==2.4.0
future==1.0.0
marshmallow==3.26.1
attrs==25.3.0
mdurl==0.1.2
Flask==3.0.3
robomimic==0.3.0
rsl_rl==1.0.2
mimicplay==1.0
typeguard==4.3.0
more-itertools==10.3.0
platformdirs==4.2.2
importlib_metadata==8.0.0
autocommand==2.2.2
backports.tarfile==1.2.0
tomli==2.0.1
packaging==24.2
wheel==0.43.0
inflect==7.3.1
jaraco.context==5.3.0
zipp==3.19.2
jaraco.text==3.12.1
jaraco.functools==4.0.1
typing_extensions==4.12.2
jaraco.collections==5.1.0
